@import '../../../node_modules/normalize.css/normalize.css';
@import 'variables';
@import 'technology';
@import 'blockquotes';
@import 'code';
@import 'tech_content';
@import 'tech_sidebar';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


.bgwrap {
    background-image: url('../../../assets/img/cyberpunk_bg.png');
    padding-bottom: 7%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    min-height: calc(100vh - 40px);
}

p {
    font-size: 2wv;
}

.header {
    display: flex;
    flex-direction: column;
}

.main {
    padding-left: 2%;
}



* {
    color: $font-alternative-color;
}

body {
    margin: auto;
    min-height: 100%;
}

body div {
    margin: auto;
    min-height: 100%;
    justify-content: center;
}

html {
    min-height: 100%;
}

code {
    color: rgb(0, 0, 0);
}

h2,
h1,
a,
.title {
    font-family: 'Barlow', sans-serif;
    color: $font-alternative-color;
}

.meimg {
    border-radius: 50%;
}

p {
    font-family: 'Encode Sans', sans-serif;
}


/* Size of logos */

.fa-brands,
.fab {
    font-weight: 400;

}


.footer {
    display: flex;
    flex-direction: column;
    border-top: 2px solid $highlight-color;
    font-size: smaller;
    text-align: center;
}

.social a {
    text-decoration: none;
}
