@import '../../node_modules/normalize.css/normalize.css';
@import 'variables';

@import 'blockquotes';
@import 'code';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


.bgwrap {
    
    background-image: url('../../../assets/img/cyberpunk_bg.png');


}

* {
    color: $font-alternative-color;
}

body {

    margin: auto;

}

h2,
a,
.title {

    font-family: 'Barlow', sans-serif;
    color: $font-alternative-color;



}

.meimg {

    border-radius: 50%;


}

p {

    font-family: 'Encode Sans', sans-serif;


}




.footer {

    display: flex;
    flex-direction: column;
    border-top: 2px solid $highlight-color;
    font-size: smaller;



}

.social a {

    text-decoration: none;


}
